<div class="column" [attr.column-id]="column._id" [attr.column-order]="column.order">
    <div class="column-header">
        <h4 [innerHtml]="currentTitle" id="edit-column-hr" [style.display]="editingColumn ?'none' : '' " (click)="editColumn()"></h4>
        <input [style.display]="editingColumn ?'' : 'none' " (blur)="updateColumnOnBlur()"
            (keyup)="addColumnOnEnter($event)" id="edit-column" [(ngModel)]="currentTitle" />
    </div>
    <div class="add-card-div" (click)="enableAddCard()">
        <span [style.display]="addingCard ? 'none' : ''" >
            Add a card...
        </span>
        <input class="add-card-input" [style.display]="addingCard ? '' : 'none' " [attr.autofocus]="addingCard"
            (keyup)="addCardOnEnter($event)" (blur)="addCardOnBlur()" [(ngModel)]="addCardText" />
    </div>
    <ul class="card-list row" [attr.column-id]="column._id">
        <li *ngFor="let card of cards | where : { columnId: column._id }">
                <app-card [card]="card"></app-card>
        </li>
    </ul>
</div>
