<div *ngIf="board" class="board-title">
  <span *ngIf="!editingTilte" (click)="editTitle()">{{ board?.title }}</span>

  <input *ngIf="editingTilte" (keyup)="blurOnEnter($event)" (blur)="updateBoard()" [(ngModel)]="currentTitle" />
</div>
<div class="add-column" (click)="enableAddColumn()">
  <span [style.display]="addingColumn ? 'none' : ''">Add a list...</span>

  <input [style.display]="addingColumn ? '' : 'none' " (keyup)="addColumnOnEnter($event)" (blur)="addColumnOnBlur()"
    [(ngModel)]="addColumnText" />
</div>

<section *ngIf="board" id="main">
  <!-- TODO to MANI: getting issue with order pipe..plese check -->
  <div *ngFor="let column of board.columns" class="row sortable-column">
    <div class="col-md-6" style="margin-bottom: 10px;">
      <app-column [column]="column" [cards]="board.cards">
      </app-column>
    </div>
  </div>
</section>
